@{
    Layout = "_DashboardLayout";
    ViewData[PaginationCurrentPage] = Model.UsersPagination.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.UsersPagination.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.UsersPagination.DisplayCount;
}
@model MembersDashboardVM
<section class="events-list-area section-gap event-page-lists" style="padding: 60px 0;">
    <div class="container">
        <div class="row m-4">
            @if(Model.UsersPagination.Collection != default(ICollection<User>))
              {
                foreach(var user in Model.UsersPagination.Collection)
                {
                          <div class="col-lg-3 col-md-6 single-blog">
                              <div class="thumb">
                                <img class="img-fluid" src="~/@user.ImagePath" alt="user image" />
                              </div>
                              <h5 style="margin-top:8px;" class="light">@user.UserName</h5>
                              <p class="light">@user.Specialization<br/>Joined : @user.CreatedAt.ToString(DateFormat)</p>
                                                              <a class="mdi mdi-delete-forever clickable" style="color:white !important;" asp-action="delete" asp-controller="user" asp-route-id="@user.Id" is-delete="1"></a>
                              <a
                                asp-action="profile"
                                asp-controller="home"
                                asp-route-id="@user.Id"
                                target="_blank"
                                class="
                                  details-btn
                                  d-flex
                                  justify-content-center
                                  align-items-center
                                "
                                ><span class="details">Details</span>
                                <span class="lnr lnr-arrow-right"></span>
                                </a>
                    </div>
                }
              }
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial");
        await Html.RenderPartialAsync("_DeleteBtnPartial");
    }
        </section>
<!--End Profile Card-->
<!-- End cta-two Area -->