@{
    Layout = "_DashboardLayout";
}
@model ProjectDetailsDashboardViewModel
<!-- Start course-details Area -->
<section class="course-details-area pt-120">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 left-contents">
	<div class="main-image">
    @if(Model.ChosenProject.Thumbnail.StartsWith("~"))
    {
        var imgSrc = @Url.Content(Model.ChosenProject.Thumbnail);
    	<img class="img-fluid" src="@imgSrc" alt="Project thumbnail">
		<i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16 clickable" data-toggle="modal"
                  data-target="#editProjectModal"></i>
      <a asp-action="delete" asp-controller="projects" asp-route-id="@Model.ChosenProject.Id">
        <i class="mdi mdi-delete-forever clickable light"></i>
      </a>
    }else
    {
        <img class="img-fluid" src="~/projects/image/@Model.ChosenProject.Id?isThumbnail=true" alt="Project thumbnail">
		<i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16 clickable" data-toggle="modal"
                  data-target="#editProjectModal"></i>
      <a asp-action="delete" asp-controller="projects" asp-route-id="@Model.ChosenProject.Id">
        <i class="mdi mdi-delete-forever clickable light"></i>
      </a>
    }
  </div>
  <div class="row padding-sides-9">
    <div id="descriptionContainer" class="active-container col-6 btn-inverse-info btn-lg clickable ">
      <h5 id="descriptionBtn">Description</h5>
    </div>
    <div id="feedbackContainer" class="col-6 btn-inverse-info btn-lg clickable">
      <h5 id="feedbackBtn">Feedback</h5>
    </div>
    <div id="displayDescription" class="white-bg col-12 dark border-dark-2 padding-vertical-10">
      <p>@Model.ChosenProject.Description</p>
    </div>
    <div id="displayFeedback" class="white-bg col-12 dark border-dark-2 padding-vertical-10">
      @if(Model.ChosenProject.ProjectFeedbacks != null && Model.ChosenProject.ProjectFeedbacks.Count != 0)
      {
        foreach(var feedback in Model.ChosenProject.ProjectFeedbacks)
        {
          <p>@feedback.Feedback</p>
          <span>@feedback.CreatedAt</span>
          <hr>
        }
      }
    </div>
  </div>
   </div>
   <div class="col-lg-4 right-contents">
	<a href="#" class="primary-btn text-uppercase">@Model.ChosenProject.Title</a>
	<ul>
					@if (@Model.ChosenProject.UsersInProjects.Count != 0)
					{
						@foreach (UsersInProject userInProject in Model.ChosenProject.UsersInProjects)
						{
							<li>
								<a class="justify-content-between d-flex">
									<h5 class="dark">@userInProject.Role.Role</h5>
									<span class="or dark">@userInProject.User.UserName</span>
								</a>
							</li>
						}
					}
	 <li>
	  <a class="justify-content-between d-flex" href="#go">
	   <h5>Team Members</h5>
	   <span class="or">@Model.ChosenProject.UsersInProjects.Count</span>
	  </a>
	 </li>
	 <li>
	  <a class="justify-content-between d-flex">
	   <h5 class="dark">Technologies & Tools</h5>
	   <span style="margin-left: 20px;" class="or">@Model.ChosenProject.ToolsUsed</span>
	  </a>
	 </li>
	</ul>
   </div>
  </div>
 </div>
</section>
<!-- End course-details Area -->
<!-- Start Featured Work -->
<div id="go" class="featured-work text-center">
 <div class="container">
  <h5 class="light h2 padding-vertical-10">Gallery</h5>
 </div>
 <div class="lol">
  <div class="row shuffle-images">
	  @if(Model.ChosenProject.ProjectImages != null && Model.ChosenProject.ProjectImages.Count != 0)
	  {
		  foreach(var image in Model.ChosenProject.ProjectImages)
		  {
			<div class="col-md">
				@if(image.ImagePath.StartsWith("~"))
				{
					var imgSrc = @Url.Content(image.ImagePath);
					<img class="img-195" src="@imgSrc" alt="Project img" />
      <a asp-action="deleteimage" asp-controller="projects" asp-route-id="@image.Id">
        <i class="mdi mdi-delete-forever clickable light"></i>
      </a>
				}else
				{
					<img class="img-195" src="~/projects/image/@image.Id" alt="Project img" />
      <a asp-action="deleteimage" asp-controller="projects" asp-route-id="@image.Id">
        <i class="mdi mdi-delete-forever clickable light"></i>
      </a>
				}
			</div>
		  }
	  }
  </div>
 </div>
</div>
<!-- End Featured Work -->


<!-- Start  -->
<section class="popular-courses-area section-gap courses-page">
 <div class="container">
  <div class="row">
   <a asp-controller="dashboard" asp-action="index" class="primary-btn text-uppercase mx-auto">View other
	projects</a>
  </div>
 </div>

         <!-- Modal HTML Markup -->

<!-- /.modal -->
</section>

<div id="editProjectModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Edit Project</h4>
      </div>
    @if (TempData[ResultMessageKey] != null)
      {
        ResultMsgViewModel resultVM = JsonNet.Deserialize<ResultMsgViewModel>(TempData[ResultMessageKey].ToString());
        <div class="modal-header">
          <div class="@resultVM.CssClass">@resultVM.Message</div>
        </div>
      }
      <div class="modal-body">
        <form role="form" asp-action="Edit" asp-controller="Projects" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label>Title</label>
          <input type="hidden" asp-for="ProjectId" value="@Model.ChosenProject.Id">
          <input type="text" class="form-control" asp-for="Title" value="@Model.ChosenProject.Title">
          <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea asp-for="Description" class="form-control">@Model.ChosenProject.Description</textarea>
          <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
          <label>Tools Used</label>
          <input type="text" class="form-control" asp-for="ToolsUsed" value="@Model.ChosenProject.ToolsUsed">
          <span class="text-danger" asp-validation-for="ToolsUsed"></span>
        </div>
        <div class="form-group">
          <label>Edit Contributors & Roles</label>
          <select class="form-control" multiple asp-for="UsersNRolesIds">
            @if (Model.UserRolesInProject.Count != 0 && Model.ChosenProject.UsersInProjects.Count != 0)
            {
              foreach (var userInProject in Model.ChosenProject.UsersInProjects)
              {
                <option disabled class="light">@userInProject.User.UserName</option>
                <option selected value="@userInProject.Role.Id-@userInProject.User.Id">@userInProject.Role.Role</option>
                @foreach (var userRole in Model.UserRolesInProject)
                {
                  if(userRole.Id == userInProject.Role.Id)
                  {
                    continue;
                  }
                  <option value="@userRole.Id-@userInProject.User.Id">@userRole.Role</option>
                }
                <option class="light" disabled>---------------------</option>
              }
            }
          </select>
          <span class="text-danger" asp-validation-for="UsersNRolesIds"></span>
        </div>
        <div class="form-group">
          <label>Add Contributors & Roles</label>
          <select class="form-control" multiple asp-for="AddUsersNRolesIds">
            @if (Model.UserRolesInProject.Count != 0 && Model.Users.Count != 0)
            {
              foreach (var user in Model.Users)
              {
                <option disabled class="light">@user.UserName</option>
                @foreach (var userRole in Model.UserRolesInProject)
                {
                  <option value="@userRole.Id-@user.Id">@userRole.Role</option>
                }
                <option class="light" disabled>---------------------</option>
              }
            }
          </select>
          <span class="text-danger" asp-validation-for="UsersNRolesIds"></span>
        </div>
        <div class="form-group">
          <label>Edit Thumbnail</label>
          <input type="file" accept ="image/*" asp-for="ProjectThumbnail">
          <span class="text-danger" asp-validation-for="ProjectThumbnail"></span>
        </div>
        <div class="form-group">
          <label>Add Other Images</label>
          <input type="file" accept="image/*" multiple="multiple" asp-for="ProjectImages">
        </div>
        <div class="form-group">
          <label>Project Type</label>
          <select class="form-control" asp-for="ProjectTypeId">
			  <option value="@Model.ChosenProject.Type.Id" selected>@Model.ChosenProject.Type.Type</option>
            @if (Model.ProjectTypes.Count != 0)
            {
              foreach (var pt in Model.ProjectTypes)
              {
                <option value="@pt.Id">@pt.Type</option>
              }
            }
          </select>
          <span asp-validation-for="ProjectTypeId" class="text-danger"></span>
        </div>
        @if (Model.ChosenProject.ProjectLinks.Count != 0)
        {
          @foreach (var projectLink in Model.ChosenProject.ProjectLinks)
          {
            <div class="form-group">
              <label class="control-label">@projectLink.Type.Type</label>
              <div>
                <input type="hidden" value="@projectLink.Id" asp-for="LinksIds"/>
                <input type="text" class="form-control input-lg" asp-for="ProjectLinks" value="@projectLink.Link"/>
              </div>
            </div>
          }
          <span class="text-danger" asp-validation-for="ProjectLinks"></span>
        }
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <script src="~/js/dashboard-project-details.js"></script>
  <!-- /.modal-dialog -->
</div>
<!-- End  -->