@{
    Layout = "_DashboardLayout";
    ViewData[PaginationCurrentPage] = Model.PaginationModel.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.PaginationModel.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.PaginationModel.DisplayCount;
}
@model ServicesDashboardVM
<!-- Start events-list Area -->
<section class="events-list-area section-gap event-page-lists" style="padding: 60px 0;">
				<div class="container">
          <i class="btn btn-primary mr-2 clickable mb-10" data-target="#createServiceModal" data-toggle="modal">+ Create New Service</i>
					<div class="row align-items-center">
						@if(Model.PaginationModel.Collection != default(ICollection<Service>))
							{
								foreach(var service in Model.PaginationModel.Collection)
								{
										<div class="col-lg-6 pb-30">
											<div class="single-carusel row align-items-center">
													<div class="col-12 col-md-6 thumb">
                            <a><img class="img-fluid" src="~/@service.ServiceImage" alt="service image"></a>
													</div>
													<div class="detials col-12 col-md-6">
														<a><h4>@service.ServiceName</h4></a>
														<p>@service.ServiceDescription</p>
                            <i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16 clickable service-edit light" data-toggle="modal"
                                        data-target="#editServiceModal" service-id="@service.Id" service-name="@service.ServiceName" service-description="@service.ServiceDescription"></i>
                            <a asp-action="delete" asp-controller="services" asp-route-id="@service.Id" class="mdi mdi-delete-forever clickable light" is-delete="1">
                            </a>
													</div>
												
											</div>
										</div>
								}
							}																		
					</div>
				</div>	

    <!-- Modal HTML Markup -->
<div id="createServiceModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Create Service</h4>
      </div>
      <div asp-validation-summary="All"></div> 
        @if(TempData[ResultMessageKey] != null)
        {
          ResultMsgViewModel resultVM = TempData.GetResultMessage();
          <div class="modal-header">
          <div class="@resultVM.CssClass">@resultVM.Message</div>
          </div>
        }
      <div class="modal-body">
        <form role="form" id="createServiceForm" asp-action="Create" asp-controller="Services" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label>Service Name</label>
          <input type="text" class="form-control" asp-for="Name">
          <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea asp-for="Description" class="form-control"></textarea>
          <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept ="image/*" asp-for="ServiceImage">
          <span class="text-danger" asp-validation-for="ServiceImage"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
 <!-- Modal HTML Markup -->
<div id="editServiceModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Edit Service</h4>
      </div>
      <div asp-validation-summary="All"></div> 
        @if(TempData[ResultMessageKey] != null)
        {
          ResultMsgViewModel resultVM = TempData.GetResultMessage();
          <div class="modal-header">
          <div class="@resultVM.CssClass">@resultVM.Message</div>
          </div>
        }
      <div class="modal-body">
        <form role="form" id="editServiceForm" asp-action="Edit" asp-controller="Services" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label>Service Name</label>
          <input type="hidden" asp-for="Id">
          <input type="text" class="form-control" asp-for="Name">
          <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea asp-for="Description" class="form-control"></textarea>
          <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept ="image/*" asp-for="ServiceImage">
          <span class="text-danger" asp-validation-for="ServiceImage"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
@{
  await Html.RenderPartialAsync("_ServiceCrudPartial");
  await Html.RenderPartialAsync("_PaginationPartial");
  await Html.RenderPartialAsync("_DeleteBtnPartial");
}
</section>
<!-- End events-list Area -->