@{
	ViewData[TitleKey] = "Details";
	ViewData[BannerTitleKey] = "Project Details";
	ViewData[BannerNavTitleKey] = ViewData[BannerTitleKey];
	ViewData[BannerNavRouteValueKey] = Model.Id;
	ViewData[BannerNavActionKey] = "details";
	ViewData[BannerNavControllerKey] = "projects";
}
@model Project

<!-- Start course-details Area -->
<section class="course-details-area pt-120">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 left-contents">
	<div class="main-image">
    @if(Model.Thumbnail.StartsWith("~"))
    {
         var imgSrc = @Url.Content(Model.Thumbnail);
    	<img class="img-fluid" src="@imgSrc" alt="Project thumbnail">
    }else
    {
        <img class="img-fluid" src="~/projects/image/@Model.Id?isThumbnail=true" alt="Project thumbnail">
    }
	</div>
	<div class="jq-tab-wrapper" id="horizontalTab">
	 <div class="jq-tab-menu">
	  <div class="jq-tab-title active" data-tab="1">Description</div>
	  <div class="jq-tab-title" data-tab="5">Feedback</div>
	 </div>
	 <div class="jq-tab-content-wrapper">
	  <div class="jq-tab-content active" data-tab="1">@Model.Description</div>
	  <div class="jq-tab-content" data-tab="5">
	   <div class="feedeback">
		<h4 class="pb-20">Your Feedback</h4>
		<textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
		<a href="#" class="mt-20 primary-btn text-right text-uppercase">Submit</a>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
   <div class="col-lg-4 right-contents">
	<a href="#" class="primary-btn text-uppercase">@Model.Title</a>
	<ul>
					@if (@Model.UsersInProjects.Count != 0)
					{
						@foreach (UsersInProject userInProject in Model.UsersInProjects)
						{
							<li>
								<a class="justify-content-between d-flex">
									<h5 class="dark">@userInProject.Role.Role</h5>
									<span class="or">@userInProject.User.UserName</span>
								</a>
							</li>
						}
					}
	 <li>
	  <a class="justify-content-between d-flex" href="#go">
	   <h5 class="dark">Team Members</h5>
	   <span class="or">@Model.UsersInProjects.Count</span>
	  </a>
	 </li>
	 <li>
	  <a class="justify-content-between d-flex">
	   <h5 class="dark">Technologies & Tools</h5>
	   <span style="margin-left: 20px" class="or">@Model.ToolsUsed</span>
	  </a>
	 </li>
	</ul>
   </div>
  </div>
 </div>
</section>
<!-- End course-details Area -->
<!-- Start Featured Work -->
<div id="go" class="featured-work text-center">
 <div class="container">
  <h2>Gallery</h2>
 </div>
 <div class="lol">
  <div class="row shuffle-images">
	  	  @if(Model.ProjectImages != null && Model.ProjectImages.Count != 0)
	  {
		  foreach(var image in Model.ProjectImages)
		  {
			<div class="col-md">
				@if(image.ImagePath.StartsWith("~"))
				{
					var imgSrc = @Url.Content(image.ImagePath);
					<img class="img-195" src="@imgSrc" alt="Project img" />
				}else
				{
					<img class="img-195" src="~/projects/image/@image.Id" alt="Project img" />
				}
			</div>
		  }
	  }
  </div>
  @* <div class="row shuffle-images">
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
  </div>
  <div class="row shuffle-images">
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
   <div class="col-md">
	<img class="MEMBERS" src="~/img/committee/t.def.jpg" alt="" />
   </div>
  </div> *@
 </div>
</div>

<!-- End Featured Work -->


<!-- Start  -->
<section class="popular-courses-area section-gap courses-page">
 <div class="container">
  <div class="row">
   <a asp-controller="projects" asp-action="index" class="primary-btn text-uppercase mx-auto">View other
	projects</a>
  </div>
 </div>
</section>
<!-- End  -->