@{
	ViewData[TitleKey] = "Details";
	ViewData[BannerTitleKey] = "Project Details";
	ViewData[BannerNavTitleKey] = "Projects";
	ViewData[BannerNavRouteValueKey] = Model.Project.Id;
	ViewData[BannerNavActionKey] = "index";
	ViewData[BannerNavControllerKey] = "projects";
}
@model ProjectDetailsViewModel

<!-- Start course-details Area -->
<section class="course-details-area pt-120">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 left-contents">
	<div class="main-image">
    @if(Model.Project.Thumbnail.StartsWith("~"))
    {
         var imgSrc = @Url.Content(Model.Project.Thumbnail);
    	<img class="img-fluid" src="@imgSrc" alt="Project thumbnail">
    }else
    {
        <img class="img-fluid" src="~/projects/image/@Model.Project.Id?isThumbnail=true" alt="Project thumbnail">
    }
	</div>
	<div class="jq-tab-wrapper" id="horizontalTab">
	 <div class="jq-tab-menu">
	  <div class="jq-tab-title active" data-tab="1">Description</div>
	  <div class="jq-tab-title" data-tab="5">Feedback</div>
	 </div>
	 <div class="jq-tab-content-wrapper">
	  <div class="jq-tab-content active" data-tab="1">@Model.Project.Description</div>
	  <div class="jq-tab-content" data-tab="5">
	   <div class="feedeback">
		@if (TempData[ResultMessageKey] != null)
		{
			ResultMsgViewModel resultVM = JsonNet.Deserialize<ResultMsgViewModel>(TempData[ResultMessageKey].ToString());
			<div class="modal-header">
			<div class="@resultVM.CssClass">@resultVM.Message</div>
			</div>
		}
		<form asp-action="feedback" asp-controller="projects" method="post" enctype="multipart/form-data">
			<h4 class="pb-20">We'd love to know your feedback!</h4>
			<input type="hidden" value="@Model.Project.Id" asp-for="ProjectId">
			<textarea class="form-control" cols="10" rows="10" asp-for="Feedback"></textarea>
			<span class="text-danger" asp-validation-for="Feedback"></span>
			<button type="submit" class="mt-20 primary-btn text-right text-uppercase">Submit</button>
		</form>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
   <div class="col-lg-4 right-contents">
	<a class="primary-btn text-uppercase">@Model.Project.Title</a>
	<ul>
					@if (@Model.Project.UsersInProjects.Count != 0)
					{
						var userInProject = Model.Project.UsersInProjects.Where((uip) => uip.Role.Role == "Team Leader").FirstOrDefault();
							<li>
								<a class="justify-content-between d-flex" asp-action="profile" asp-controller="home" style="text-decoration:none !important;" target = "_blank" asp-route-id="@userInProject.User.Id">
									<h5 class="dark">@userInProject.Role.Role</h5>
									<span class="or">@userInProject.User.UserName</span>
								</a>
							</li>
						
					}
	 <li>
	  <a class="justify-content-between d-flex">
	   <h5 class="dark">Team Members</h5>
	   <span class="or">@Model.Project.UsersInProjects.Count</span>
	  </a>
	 </li>
	 <li>
	  <a class="justify-content-between d-flex">
	   <h5 class="dark">Technologies & Tools</h5>
	   <span style="margin-left: 20px" class="or">@Model.Project.ToolsUsed</span>
	  </a>
	 </li>
	</ul>
   </div>
  </div>
 </div>
</section>
<!-- End course-details Area -->
<!-- Start Featured Work -->
<div id="go" class="featured-work text-center">
		<div class="container">
			<h2>Contributors</h2>
			<ul class="list-unstyled row">
				<li data-class="ALL" class="active col-md">ALL</li>
				@foreach(var userInProject in Model.Project.UsersInProjects)
				{
					var processedRole = "." + userInProject.Role.Role.Replace(" ", "").ToUpper();
					<li data-class="@processedRole" class="col-md">@userInProject.Role.Role</li>
				}
			</ul>
</div>
 <div class="lol">
  <div class="row shuffle-images">
	  	  @if(Model.Project.UsersInProjects != null && Model.Project.UsersInProjects.Count != 0)
	  {
		  foreach(var userInProject in Model.Project.UsersInProjects)
		  {
			  	
			var processedRole = userInProject.Role.Role.Replace(" ", "").ToUpper();
			<div class="col-md">
				@if(userInProject.User.ImagePath.StartsWith("~"))
				{
					var imgSrc = @Url.Content(userInProject.User.ImagePath);
					<a target = "_blank" class="@processedRole" asp-action="profile" asp-route-id="@userInProject.User.Id" asp-controller="home">
						<img class="img-fluid" src="@imgSrc" alt="contributor img" />
					</a>
				}else
				{
					<a asp-action="profile"  class="@processedRole" asp-controller="home" asp-route-id="@userInProject.User.Id">
						<img class="img-fluid" src="~/user/profileimage/@userInProject.User.Id" alt="Contributor img" />
					</a>
				}
			</div>
		  }
	  }
  </div>
 </div>
</div>

<!-- End Featured Work -->


<!-- Start  -->
<section class="popular-courses-area section-gap courses-page">
 <div class="container">
  <div class="row">
   <a asp-controller="projects" asp-action="index" class="primary-btn text-uppercase mx-auto">View other
	projects</a>
  </div>
 </div>
</section>
<!-- End  -->