@{
    ViewData[TitleKey] = "Projects";
    ViewData[PaginationCurrentPage] = Model.PaginationModel.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.PaginationModel.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.PaginationModel.DisplayCount;
}
@model ProjectsViewModel
<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our @ViewData[TitleKey]</h1>
                </div>
            </div>
        </div>
        <div class="row m-2">
          @if(Model.PaginationModel.Collection != default(ICollection<Project>))
            {
              foreach(var project in Model.PaginationModel.Collection)
              {
                      <div class="col-lg-3 col-md-6 single-blog">
                              <div class="thumb">
                                <img class="img-fluid" src="~/@project.Thumbnail" alt="Project Thumbnail" />
                              </div>
                              @{
                                var teamLeader = project.UsersInProjects.Where((uip) => uip.Role.Role == TeamLeaderRole).Select((uip) => uip.User).FirstOrDefault();
                              }
                              @if(teamLeader != default(User))
                              {
                                <p class="meta">@project.CreatedAt.ToString(DateFormat) | Lead By <a target="_blank" asp-action="profile" asp-controller="home" asp-route-id="@teamLeader.Id">@teamLeader.UserName</a></p>
                              }else{
                                <p class="meta">@project.CreatedAt.ToString(DateFormat)</p>
                              }
                                <h5>@project.Title</h5>
                              <a
                                asp-action="details"
                                asp-controller="projects"
                                asp-route-id="@project.Id"
                                target="_blank"
                                class="
                                  details-btn
                                  d-flex
                                  justify-content-center
                                  align-items-center
                                "
                                ><span class="details">Details</span
                                ><span class="lnr lnr-arrow-right"></span
                              ></a>
                    </div>
              }
            }
        </div>
        @* <div class="row">
            @if (Model.PaginationModel.Collection != default(ICollection<Project>))
            {
                @foreach(Project project in Model.PaginationModel.Collection)
                {
                    <div class="single-popular-carusel col-lg-3 col-md-6">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>     
                                    <a asp-controller="projects" asp-action="details" asp-route-id="@project.Id">
                                        <img class="img-fluid" src="~/@project.Thumbnail" alt="Project thumbnail">
                                    </a>
                            </div>
                        </div>
                        <div class="details">
                                <h4>
                                    @project.Title
                                </h4>
                            <p>@project.Description</p>
                        </div>
                    </div>
                }
            }
        </div> *@
    @{
        await Html.RenderPartialAsync("_PaginationPartial");
    }
        </section>
<!-- End popular-courses Area -->