@{
    ViewData[TitleKey] = "Projects";
    ViewData[BannerNavActionKey] = "index";
    ViewData[BannerNavControllerKey] = "projects";
    ViewData[BannerNavTitleKey] = ViewData[TitleKey];
    ViewData[BannerTitleKey] = ViewData[TitleKey];
    ViewData[PaginationCurrentPage] = Model.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.DisplayCount;
}
@model PaginationViewModel<Project>
<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our @ViewData[TitleKey]</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.Collection.Count != 0)
            {
                @foreach(Project project in Model.Collection)
                {
                    <div class="single-popular-carusel col-lg-3 col-md-6">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                @if(project.Thumbnail.StartsWith("~"))
                                {
                                    var imgSrc = @Url.Content(project.Thumbnail);
                                    <a asp-controller="projects" asp-action="details" asp-route-id="@project.Id">
                                        <img class="img-fluid" src="@imgSrc" alt="Project thumbnail">
                                    </a>
                                    
                                }else
                                {
                                    <a asp-controller="projects" asp-action="details" asp-route-id="@project.Id">
                                        <img class="img-fluid" src="~/projects/image/@project.Id?isThumbnail=true" alt="Project thumbnail">
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="details">
                                <h4>
                                    @project.Title
                                </h4>
                            <p>@project.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial");
    }
        </section>
<!-- End popular-courses Area -->